/* ===== FONT ===== */

@font-face {
	font-family: 'Avenir';
	src: url("../fonts/Avenir.ttc"); /*URL to font*/
}

/* ===== WORLD MAP ===== */

.stroke {
	fill: none;
	stroke: #000;
	stroke-width: 3px;
}

.fill {
	fill: #fff;
}

.graticule {
	fill: none;
	stroke: #777;
	stroke-width: .5px;
	stroke-opacity: .5;
}

.land {
	fill: #222;
}

.boundary {
	fill: none;
	stroke: #fff;
	stroke-width: .5px;
}

/* ===== TOOLTIP ===== */

#tooltip {
	position: absolute;
	height: auto;
	padding: 7px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 2px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	line-height: 1;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 9pt;
	fill: #aaa;
}

/* ===== GENERAL ===== */

body {
	background: #fcfcfa;
	background-color: #00A3FF;
	font-family: 'Avenir';
	color: black;
}

.normal {
	padding: 4% 7%;
}

h1,h2,h3 {
	font-family: 'Avenir';
	font-weight: 700;
}

img {
	max-width: 100%;
	margin: 5% 0;
	align: middle;
}

/* ===== WRAPPER ===== */

.wrapper {
	background-color: white;
	margin: 3%;
}

/* ===== CHART STUFF ====== */

svg {
	margin-top: 2%;
	margin-bottom: 2%;
}

.chart {
	margin-bottom: 5%;
	background-color: white;
}

/* ===== TITLE ===== */

.title {
	padding: 10%;
	color: black;
}

.title h1 {
	text-shadow: 1px 1px 1px #000;
	font-size: 5em;
	text-decoration: underline;
	/*-moz-text-decoration-color: white;  Code for Firefox */
    text-decoration-color: white;
}

.title strong {
	color: white;
}

.title medium {
	font-weight: 600;
}